@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color-2-: whitesmoke;
  --olivine: rgb(147, 175, 114);
  --sea-green-: #2c9143;
  --black-: #000;
  --white-: #fff;
  --grey-: #333;
  --animal-blood-: rgb(161, 14, 21);
  --blue: rgb(17, 121, 236);
  --ash-: #999;
  --deep-champagne: #ffd9a5;
  --backdrop-color-black: rgb(0, 0, 0, 0.3);
  --backdrop-color-grey: rgb(255, 255, 255, 0.1);
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

* {
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  /* outline: 2px solid red; */
  font-family: "Poppins", "Reem Kufi", "Montserrat", sans-serif;
}

header {
  position: fixed;
  width: 90%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 5%;
  /* background-color: color-mix(in srgb, var(--white-) 30%, var(--black-) 10%); */
  backdrop-filter: blur(8px);
}

header h3 {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Henny Penny", system-ui;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

header ul li {
  color: var(--black-);
  font-size: 0.825rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Capriola", sans-serif;
  transition: all 0.4s ease-in;
}

header ul li:hover {
  color:var(--animal-blood-);
}

header.scroll {
  background-color: var(--sea-green-);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all 0.4s ease;
}

header .contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header .contact-us p:nth-child(2) {
  color: var(--animal-blood-);
  font-size: 1rem;
  font-family: "Capriola", sans-serif;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

/* Sidebar styles */
.sidebar {
  display: none;
}

.sidebar {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 100vh;
  padding: 1.5rem 0 2rem;
  display: block;
  text-align: center;
  background-color: color-mix(in srgb, var(--white-) 90%, var(--black-) 10%);
  transition: all 0.5s ease;
}

.sidebar li {
  padding: 20px 0;
  border-bottom: 2px solid var(--animal-blood-);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  color: var(--txt-color-);
}

.sidebar .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 2rem;
  font-size: 1.5rem;
  padding: 20px 0 0 0;
}

#menu-icon {
  display: none;
  cursor: pointer;
  z-index: 1000;
  font-size: 1.5rem;
  font-weight: 800;
}

/* home styles */

.home {
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  color: "white";
  /* text-align: "center"; */
}

.home .backdrop-color {
  height: auto;
  width: 100%;
  /* background-color: color-mix(in srgb, var(--white-) 10%, var(--black-) 30%); */
  border: 2px solid var(--white-);
}

.home .content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  max-width: 50rem;
  min-height: 100vh;
  margin-left: 10rem;
}

.home .content h3 {
  color: var(--black-);
  background-color: color-mix(in srgb, var(--white-) 30%, var(--black-) 10%);
  padding: 1rem;
  font-size: 4rem;
  backdrop-filter: blur(5px);
  width: fit-content;
  border-radius: 6px;
  font-family: "Capriola", sans-serif;
}

.home .content h3 span {
  color: color-mix(in srgb, var(--sea-green-) 70%, var(--black-) 30%);
  font-family: "Capriola", sans-serif;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.home .content p {
  color: var(--black-);
  font-size: 1rem;
  backdrop-filter: blur(5px);
  background-color: color-mix(in srgb, var(--white-) 30%, var(--black-) 10%);
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  font-weight: 500;
  border-radius: 6px;
  line-height: 1.4;
  font-family: "Capriola", sans-serif;
}

.home .content .btn-container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  line-height: 1.7;
  background-color: var(--animal-blood-);
  color: var(--white-);
  font-size: 1.1rem;
  text-transform: capitalize;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.home .content .btn-container button:hover {
  color: var(--animal-blood-);
  background-color: var(--white-);
  font-weight: 700;
}

/* about */

.about {
  background-color: var(--white-);
  padding: 0 2rem;
}

.about .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .content h2 {
  margin: 1rem 0;
  text-transform: lowercase;
  font-size: 2rem;
  font-family: "Henny Penny", system-ui;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.about .content .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--olivine);
}

.about .content .box:nth-child(2) {
  margin-bottom: 2rem;
  background-color: var(--deep-champagne);
}

.about .content .box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.about .content .box h3 {
  font-size: 2.5rem;
  font-family: "Capriola", sans-serif;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.about .content .box .text {
  line-height: 1.75rem;
  width: 50rem;
}

.about .content .btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.about .content .text .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  line-height: 1.7;
  margin-top: 0.5rem;
  background-color: var(--animal-blood-);
  color: var(--white-);
  font-size: 0.9rem;
  padding: 0.3rem 2rem;
  border-radius: 3px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.about .content .text .btn:hover {
  color: var(--animal-blood-);
  background-color: var(--white-);
}

/* buy section styles */
.buy {
   padding: 6rem 2rem;
   background-color: var(--white-);
}

.buy .top-btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buy .top-btns p{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  line-height: 1.7;
  color: var(--animal-blood-);
  background-color: var(--white-);
  border: 2px solid var(--animal-blood-);
  border-radius: 999px;
  font-size: 0.9rem;
  padding: 0.3rem 2rem;
  border-radius: 3px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.buy .top-btns p:hover,
.buy .top-btns p:focus{
  background-color: var(--animal-blood-);
  color: var(--white-);
}

.buy .country-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  gap: 2rem;
}

.buy .country-btns p{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  line-height: 1.7;
  color: var(--white-);
  background-color: var(--animal-blood-);
  border-radius: 999px;
  font-size: 0.9rem;
  padding: 0.3rem 2rem;
  border-radius: 3px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.buy .country-btns p:hover{
  color: var(--animal-blood-);
  background-color: var(--white-);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.buy .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0 2rem 0;
}

.buy .box-container .box{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
}

.buy .box-container .box img{
  position: relative;
  width: 400px;
  height: 300px;
  object-fit: fill;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.buy .box-container .box .top-icons{
  position: absolute;
  z-index: 1;
  display: flex;
  gap: 19rem;
}

.buy .box-container .box .top-icons p{
  background-color: var(--deep-champagne);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-top-left-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  cursor: pointer;
}

.buy .box-container .box .top-icons p:nth-child(2){
  border-top-right-radius: 3px;
  border-top-left-radius: 0;
}

.buy .box-container .box .top-icons p:hover{
  background-color: var(--animal-blood-);
  color: var(--white-);
}

.buy .box-container .box .info{
  display: flex;
  flex-direction: column;
}

.buy .box-container .box .info h3{
  font-size: 1.3rem;
  color: var(--black-);
  font-weight: 700;
  font-family: "Capriola", sans-serif;
  border-bottom: 1px solid var(--grey-);
  padding: 0.5rem;
}

.buy .box-container .box .info .more-info{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--grey-);
  padding: 0.5rem 0;
}

.buy .box-container .box .info .more-info p{
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
} 

.buy .box-container .box .info .more-info p:nth-child(2){
  border-left: 1px solid var(--grey-);
  border-right: 1px solid var(--grey-);
  padding: 0 0.5rem;
} 

.buy .box-container .box .info .more-info p:not(:nth-child(2)){
  padding: 0 0.5rem;
} 

.buy .box-container .box .info .location-info{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem ;
  gap: 1rem;
}

